### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### Gradle ###
.gradle/
**/.gradle/
.gradle-home/
**/.gradle-home/
build/
**/build/
**/bin/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS (apply to all subdirs) ###
**/.DS_Store
**/Thumbs.db
